@page
@model InnoShop.Web.Pages.IndexModel
@* @{
    ViewData["Title"] = "ProductModel";
}
 *@
<h1>Products</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Author</th>
            <th>Type</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ProductList != null && Model.ProductList.Any())
        {
            @foreach (var product in Model.ProductList)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Author</td>
                    <td>@product.Types</td>
                    <td>@product.Price</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4">No products available.</td>
            </tr>
        }
    </tbody>
</table>
<hr />

