
<div class="navbar navbar-expand-lg navbar-dark d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 mb-3  border-bottom shadow-sm bg-primary">
    <div class="d-flex align-center">
        <img src="/images/products/logo.png" style="max-height: 70px;" alt="myview" class="logo" routerLink="/"/>
        <h5 class="my-0 ml-md-2 font-weight-normal"></h5>
    </div>
  
      <nav class="my-2 my-md-0 mr-md-3 text-uppercase" style="font-size: larger;">
        <a class="p-2" routerLink="/" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" >Home</a>
        <a class="p-2" routerLink="/store" routerLinkActive="active">Store</a>
        <a class="p-2" target="_blank" href="https://github.com/InnerChoseEvgenia/InnoShop">GitHub</a>
      </nav>

      <ng-container *ngIf="accountService.user$ | async">
        <li class="nav-item">
            <a class="nav-link" routerLink="/productList" routerLinkActive="active">ProductList</a>
        </li>
    </ng-container>
      
      <!--<div class="d-flex align-center">
        <a class="position-relative">
          <i class="fa fa-shopping-cart fa-2x mr-5 text-dark"></i>
          <div  class="cart-no"> 7</div>
        </a>
        <a href="" class="btn btn-outline-secondary me-2">Login</a>
        <a href="" class="btn btn-outline-secondary me-3">Sign up</a>-->

        <ul class="navbar-nav" *ngIf="(accountService.user$ | async) === null">
          <li class="nav-item">
              <a class="btn btn-secondary mx-2" routerLink="/account/register" routerLinkActive="active">
                  Create account
              </a>
          </li>
          <li class="nav-item">
              <a class="btn btn-secondary mx-2" routerLink="/account/login" routerLinkActive="active">
                  Login
              </a>
          </li>
      </ul>
      <div class="d-flex align-items-center" *ngIf="(accountService.user$ | async) as user">
        <a class="text-white" style="text-decoration: none; cursor: pointer;">
            Hi <span class="h3 text-warning">{{user.firstName | titlecase}}</span>
        </a>
        <a class="btn btn-secondary ms-2" (click)="logout()">Logout</a>
    </div>
    
  </div>
  

    
